@import "tailwindcss";

@plugin "daisyui";
.box-1 {
  background-image: url("assets/vector1.png"), url("assets/vector2.png"),
    linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
  background-position: left top, right top, center;
  background-size: 150px 100%, 150px 100%, cover;
  background-repeat: no-repeat;
}
.box-2 {
  background-image: url("assets/vector1.png"), url("assets/vector2.png"),
    linear-gradient(125.07deg, rgba(34, 197, 94, 1), rgba(132, 204, 22, 1) 100%);
  background-position: left top, right top, center;
  background-size: 150px 100%, 150px 100%, cover;
  background-repeat: no-repeat;
}
